<page-layout>
    <div class="flex" style="width: 100%; height: 90%; gap:10px; overflow-y: auto;">
        <main class="calendar">
            <loading-screen [IsLoading]="LoadingReservations"></loading-screen>

            @let DaysToDisplay = ViewType == 'Day' ? 1 : 3;
            @let DaysArray = [].constructor(DaysToDisplay);

            <header class="topbar">
                <div class="section left">
                    @if (ViewType != 'All'){
                <icon type="calendar" style="margin-right: 5px;"></icon>}
            <div class="month">
                @if (ViewType != 'All'){
                    <label>{{CurrentDate | ddate:'fullDate'}}</label>
                    <button nz-button (click)="NavigateTime(-1, $event)"><nz-icon nzType="left"></nz-icon></button>
                    <button nz-button (click)="NavigateTime(1, $event)"><nz-icon nzType="right"></nz-icon></button>
                }@else {
                    {{'All Reservations' | translate}}
                }
            </div>
    </div>
    <div class="section right">
        <nz-radio-group nzButtonStyle="solid" [ngModel]="ViewType" (ngModelChange)="SetView($event)">
            <label nz-radio-button nzValue="Day">{{'Day' | translate}}</label>
            <label nz-radio-button nzValue="Week">{{'Week' | translate}}</label>
            <label nz-radio-button nzValue="Month">{{'Month' | translate}}</label>
            <label nz-radio-button nzValue="All">{{'All' | translate}}</label>
        </nz-radio-group>
    </div>
    </header>

    <!-- TIMELINE VIEW -->
    @if (ViewType == 'Day' || ViewType == 'Week'){

        <header class="days">
            <!-- FILLER -->
            <section class="hours collumn" style="justify-content: end;">
                @if (SheduleScroll <= 20){ <label style="transform: translateY(50%);">
                        {{OpeningHours | ddate: 'HH:mm'}}
                    </label>
                }
            </section>

            <div class="section center">
                @for (DayN of DaysArray; track $index){
                    @let DayDate = DateFromDay($index);
                    <div class="day" (click)="CurrentDate = DayDate; LoadReservations()">
                        <label class="number"
                            [class.active]="DayDate.getDate() == CurrentDate.getDate()">{{DayDate.getDate()}}</label>
                <label class="name">
                    {{DayDate | ddate:'EEEE'}}
                </label>
            </div>
        }
        </div>
        </header>

        <div class="schedule-container" #ScheduleContainer (scroll)="SheduleScroll = ScheduleContainer.scrollTop">


            <!-- SIDE DAY TIMESTAMPS -->
            <section class="hours collumn">
                @for (Time of GetTimeIntervals(); track $index){
                    <div class="interval-hour">
                        @if ($index != 0){
                            <label>
                                {{Time | ddate: 'HH:mm'}}
                            </label>
                            <div class="line"></div>
                        }
                    </div>
                }
            </section>

            <!-- INTERVAL COLLUMNS -->
            <section class="schedule">
                @for (DayN of DaysArray; track $index){
                    @let DayDate = DateFromDay($index);
                        <div class="collumn fill" (click)="PromptBookReservation($event, DayDate)">

                            <!-- TIME BLOCK -->
                            @for (Time of GetTimeIntervals(); track $index){
                        <div class="interval"></div>
                    }

                    <!-- RESERVATION -->
                    @let MinFullContentWidth = ViewType=='Week' ? 33.3 : 10;
                            @for (Reservation of Reservations; track $index){
                        @if (IsSameDate(Reservation.date, DayDate)){
                            @let ReservationRect = GetReservationRect(Reservation);
                            @if (ReservationRect){
                                <div class="reservation" [style.left]="ReservationRect.X+'%'"
                                    [style.top]="ReservationRect.Y+'px'" [style.width]="ReservationRect.Width+'%'"
                                    [class.selected]="SelectedReservation?.id == Reservation.id"
                                    (click)="PromptReservationInfo($event, Reservation)">
                                    Table {{Reservation.tableid}}
                                    @if (ReservationRect.Width!>=MinFullContentWidth){ -
                                        {{Reservation.date | ddate:'HH:mm'}} {{Reservation.X}}}
                                </div>
                            }
                        }
                    }
        </div>
    }
    </section>

    <div class="time-line" [style.top]="NowTop+'px'">
        <div class="circle"></div>
    </div>

    @if (PromptingSchedule){
        <div class="time-line s" [style.top]="GetPromptLinePosition(ReservationForm.value.time!)+'px'">
        <div class="circle"></div>
    </div>
    }

    <!-- SCHEDULING PROMPT -->
    <div class="prompt" #SchedulePrompt [class.visible]="PromptingSchedule" [style.top]="SchedulePromptTop+'px'"
        [style.left]="SchedulePromptLeft+'px'">
        <label class="header">{{'Schedule Reservation' | translate}}</label>

        <form [formGroup]="ReservationForm" nz-form nzLayout="vertical" (ngSubmit)="BookReservation()">

            <div class="row" style="gap:30px">
                <nz-form-item>
                    <nz-form-label>{{'Table ID' | translate}}</nz-form-label>
                    <nz-form-control>
                        <nz-input-group nzSearch [nzAddOnAfter]="SearchSuffix">
                            <input nz-input formControlName="tableid" [placeholder]="'Table ID' | translate"
                                maxlength="3" (keypress)="EnforceNumber($event)" />
                        </nz-input-group>
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                    <nz-form-label>{{'Guest Count' | translate}}</nz-form-label>
                    <nz-form-control>
                        <nz-input-number nzMin="1" nz-input type="number" formControlName="guest_count" />
                    </nz-form-control>
                </nz-form-item>

            </div>

            <div class="row" style="gap:30px">
                <nz-form-item>
                    <nz-form-label>{{'Date' | translate}}</nz-form-label>
                    <nz-form-control>
                        <nz-date-picker nz-input formControlName="date"></nz-date-picker>
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                    <nz-form-label>{{'Time' | translate}}</nz-form-label>
                    <nz-form-control>
                        <nz-time-picker nzFormat="HH:mm" [nzMinuteStep]="5" formControlName="time"></nz-time-picker>
                    </nz-form-control>
                </nz-form-item>
            </div>

            <nz-form-item>
                <nz-form-control>
                    <a
                        (click)="ReservationsModalVisible = true; PromptingSchedule = false">{{'More details' | translate}}</a>
                    <button style="float: right;" nz-button nzType="primary" [disabled]="ReservationForm.invalid"
                        [nzLoading]="BookingReservation">
                        {{'Submit' | translate}}
                    </button>
                    <button nz-button style="float: right;  margin-right: 10px;" (click)="PromptingSchedule=false"
                        [disabled]="BookingReservation">
                        {{'Cancel' | translate}}
                    </button>
                </nz-form-control>
            </nz-form-item>
        </form>
    </div>
    </div>

    <!-- MONTH VIEW -->
    }@else if (ViewType == 'Month') {
    <div class="month-container">
        @for (Day of GetMonthDays(); track $index){
            <div class="day-block" (click)="CurrentDate = Day; ViewType='Day'; LoadReservations()">
                <label class="day-number">
                    {{Day.getDate()}}
                </label>
                <div class="reservations">
                    @for (Reservation of Reservations; track $index) {
                        @if (Day.getDate() == Reservation.date.getDate() ){
                            <div class="reservation">
                                <label class="table">{{'Table'|translate}} {{Reservation.tableid}}</label>
                                <label class="time"> - {{Reservation.date|ddate:'HH:mm'}}</label>
                            </div>
                        }
                    }
                </div>
            </div>
        }
    </div>
    }


    <!-- ALL VIEW -->
    @else {
        <nz-table nzTemplateMode="">
            <thead>
                <tr>
                    <!-- <th>{{'ID' | translate}}</th> -->
                    <th>{{'Table' | translate}}</th>
                    <th>{{'Date' | translate}}</th>
                    <th>{{'Time' | translate}}</th>
                    <th>{{'Guests' | translate}}</th>
                    <th>{{'Creator' | translate}}</th>
                </tr>
            </thead>
            <tbody>
                @for (Reservation of Reservations; track $index){
                    <tr (click)="SelectedReservationDetails = Reservation">
                        <!-- <td>{{Reservation.id}}</td> -->
                        <td>{{Reservation.tableid}}</td>
                        <td>{{Reservation.date | ddate}}</td>
                        <td>{{Reservation.date | ddate:'HH:mm'}}</td>
                        <td>{{Reservation.guest_count}}</td>
                        <td>
                            <div class="tag">
                                <img style="width: 25px; height: 25px; margin-right: 5px;" class="pfp small"
                                    [src]="UserImagesURL+Reservation.username"
                                    onerror="this.src='Images/Icons/account.svg'">
                                <strong>{{Reservation.username}}</strong>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </nz-table>
    }
    </main>


    <!-- TODAY RESERVATIONS TAB -->
    <section class="action-card today-reservations" style="flex: 1;">
        <loading-screen [IsLoading]="LoadingTodayReservations" LoaderStyle="Spinner"></loading-screen>

        <div class="row space-between" style="align-items: start;">
            <h2>{{'Today' | translate}}</h2>
            @if (CanModifyReservations){
                <button nz-button (click)="ReservationsModalVisible = true">
                    {{'Book Reservation ' | translate}}<nz-icon nzType="plus"></nz-icon>
                </button>
            }
        </div>
        <div class="separator"></div>
        <div class="reservations flex">
            <!-- TODAY's RESERVATIONS -->
            @for (Reservation of TodayReservations.reverse(); track $index){
                @if (Reservation.date.getTime() >= Today.getTime()){
                    <div class="reservation-card">
                        <label class="table">{{'Table'|translate}} {{Reservation.tableid}}</label>
                        <div class="row space-between">
                            <label class="guests">{{Reservation.guest_count}} {{'Guests'|translate}}</label>
                            <label class="time_to">{{'In'|translate}} {{GetFormmatedTimeTo(Reservation.date)}}</label>
                        </div>
                    </div>
                    <div class="separator"></div>
                }
            }@empty {
                @if (!LoadingTodayReservations){
                    <no-data>
                        <label style="text-align: center;">{{'No reservations scheduled for today' | translate}}</label>
                    </no-data>
                }
            }
        </div>
    </section>
    </div>
</page-layout>


<!-- RESERVATION BOOKING MODAL -->
<nz-modal nzDraggable [nzVisible]="ReservationsModalVisible" [nzTitle]="'Book New Reservation' | translate" nzCentered
    [nzCancelText]="'Cancel' | translate" nzWidth="50%" [nzOkDisabled]="ReservationForm.invalid"
    [nzCancelDisabled]="BookingReservation" [nzOkLoading]="BookingReservation" (nzOnOk)="BookReservation()"
    (nzOnCancel)="ReservationsModalVisible = false">

    <ng-container *nzModalContent>
        <form [formGroup]="ReservationForm" nz-form nzLayout="vertical" (ngSubmit)="BookReservation()">

            <div class="row" style="gap:30px">
                <nz-form-item>
                    <nz-form-label>{{'Table ID' | translate}}</nz-form-label>
                    <nz-form-control>
                        <nz-input-group nzSize="large" nzSearch [nzAddOnAfter]="SearchSuffix">
                            <input nz-input formControlName="tableid" maxlength="3"
                                [placeholder]="'Table ID' | translate" (keypress)="EnforceNumber($event)" />
                        </nz-input-group>
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                    <nz-form-label>{{'Guest Count' | translate}}</nz-form-label>
                    <nz-form-control>
                        <nz-input-number nzMin="1" nz-input type="number" formControlName="guest_count"
                            nzSize="large" />
                    </nz-form-control>
                </nz-form-item>

            </div>

            <div class="row" style="gap:30px">
                <nz-form-item>
                    <nz-form-label>{{'Date' | translate}}</nz-form-label>
                    <nz-form-control>
                        <nz-date-picker nz-input formControlName="date" nzSize="large"></nz-date-picker>
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                    <nz-form-label>{{'Time' | translate}}</nz-form-label>
                    <nz-form-control>
                        <nz-time-picker nzFormat="HH:mm" [nzMinuteStep]="5" formControlName="time" nzSize="large"></nz-time-picker>
                    </nz-form-control>
                </nz-form-item>

            </div>




            <h3>{{'Customer' | translate}}</h3>
            <div style="width: 80%; ">
                <div class="row" style="gap:30px">
                    <nz-form-item>
                        <nz-form-label>{{'Name' | translate}}</nz-form-label>
                        <nz-form-control>
                            <input nz-input formControlName="name" nzSize="large" [placeholder]="'Name' | translate" />
                        </nz-form-control>
                    </nz-form-item>

                    <nz-form-item>
                        <nz-form-label>{{'Phone' | translate}}</nz-form-label>
                        <nz-form-control [nzErrorTip]="'Please input a valid email!' | translate">
                            <input nz-input formControlName="phone" maxlength="12" nzSize="large"
                                [placeholder]="'Phone Number' | translate" (keypress)="EnforceNumber($event)" />
                        </nz-form-control>
                    </nz-form-item>
                </div>

                <nz-form-item>
                    <nz-form-label>{{'Email' | translate}}</nz-form-label>
                    <nz-form-control [nzErrorTip]="'Please input a valid phone number!' | translate">
                        <input nz-input formControlName="email" nzSize="large" [placeholder]="'Email' | translate" />
                    </nz-form-control>
                </nz-form-item>
            </div>

            <nz-form-item>
                <nz-form-label>{{'Notes' | translate}}</nz-form-label>
                <nz-form-control>
                    <textarea nz-input formControlName="notes" rows="3"
                        [placeholder]="'Additional notes' | translate"></textarea>
                </nz-form-control>
            </nz-form-item>
        </form>

    </ng-container>
</nz-modal>

<nz-modal [nzOkText]="null" [nzCancelText]="'Close' | translate" [nzVisible]="SelectedReservationDetails"
    (nzOnCancel)="SelectedReservationDetails = undefined" nzTitle="Reservations" nzCentered>
    <ng-container *nzModalContent>
        <h3>Name</h3>
        {{SelectedReservationDetails.name || '-'}}
        <br>
        <br>

        <h3>Email</h3>
        {{SelectedReservationDetails.email || '-'}}
        <br>
        <br>

        <h3>Phone</h3>
        {{SelectedReservationDetails.phone || '-'}}
        <br>
        <br>

        <h3>Notes</h3>
        {{SelectedReservationDetails.notes || '-'}}
        <br>
    </ng-container>
</nz-modal>

<!-- TABLE SELECT MODAL -->
<nz-modal [nzOkText]="null" [nzCancelText]="'Close' | translate" [nzVisible]="TableSelectVisible"
    [nzTitle]="'Select Table' | translate" nzCentered nzDraggable nzWidth="70%" (nzOnCancel)="TableSelectVisible=false">

    <ng-container *nzModalContent>
        <restaurant-layout style="height: 50vh;" [SelectionMode]="true" (TableSelected)="OnTableSelected($event)">

        </restaurant-layout>
    </ng-container>
</nz-modal>


<!-- RESERVATION DETAILS -->
<div class="prompt fixed" [class.visible]="SelectedReservation" [style.top]="ReservationPromptPosition.Y+'px'"
    [style.left]="ReservationPromptPosition.X+'px'">
    @if (SelectedReservation){
        <div class="row space-between">
            <label class="header">{{'Table'|translate}} {{SelectedReservation.tableid}} {{'Reservation'|translate}}
            </label>

            @if (CanModifyReservations){
                <button nz-button nzDanger (click)="DeleteReservation(SelectedReservation)"
                    [nzLoading]="DeletingReservation">
                    <!-- <nz-icon nzType="delete"></nz-icon> -->
                    {{'Cancel' | translate}}
                </button>
            }
        </div>
        <div class="flex collumn space-between">
            <div class="row space-between">
                <label class="time">{{SelectedReservation.date | ddate:'HH:mm'}}</label>
            </div>
            <div class="row space-between">
                <label class="guests">{{SelectedReservation.guest_count}} {{'Guests'|translate}}</label>
                <label class="date">{{SelectedReservation.date | ddate:'dd/MM/yyyy'}}</label>
            </div>
        </div>
    }
</div>

<ng-template #SearchSuffix>
    <button nz-button nzType="primary" nzSearch [nzLoading]="TableSelectVisible" (click)="TableSelectVisible = true"
        [disabled]="BookingReservation" type="button">
        <nz-icon nzType="appstore" />
    </button>
</ng-template>