<page-layout>


    <label class="title">Users</label>
    <div class="separator" style="margin-bottom:20px"></div>


    <table>
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>ID</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Adress</th>
                <th>Status</th>
            </tr>
        </thead>

        <tbody>
            @for (UserInfo of CurrentUserList(); track UserInfo.userid) {
                <tr class="profile" routerLink="/profile" >
                    <img class="profile-pfp"
                    [src]="UserPfpUrl+UserInfo.username+'.png'"
                    onerror="this.src='Images/Profile.png'"
                    >
                    <td>{{UserInfo.username}}</td>
                    <td>{{UserInfo.userid}}</td>
                    <td>{{UserInfo.email}}</td>
                    <td>{{UserInfo.phone}}</td>
                    <td>{{UserInfo.adress}} {{UserInfo.city}} {{UserInfo.country}} {{UserInfo.postacode}}</td>
                    <td>
                        <div class="circle" [ngStyle]="{'background-color': UserInfo.active ? 'green' : 'red'}"></div>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div class="separator" style="margin-top:20px;"></div>
    <nz-pagination style="margin-bottom: 10px;" 
    [nzPageIndex]="1" 
    [nzTotal]="PageCount"  
    [nzPageSize]="5"
    [nzPageSizeOptions]="[5,10,20,50]"

    (nzPageIndexChange)="SwitchPage($event)"
    (nzPageSizeChange)="UpdatePageSize($event)"

    nzShowSizeChanger
    ></nz-pagination>
    <div class="button-container" admin-component>
        <button class="button1" routerLink='/register'>Add User</button>
    </div>
</page-layout>