<page-layout>

    <h1>{{'Appearance' | translate}}</h1>
    <h2>{{'Theme' | translate}}</h2>
    <div class="themes-container">
        @for (Theme of Themes; track $index){
        <div class="theme-card">
            <div class="row vcenter">
                <input class="radio" type="radio" (ngModelChange)="ThemeService.setTheme(Theme.Key)"
                    [(ngModel)]="ThemeService.Theme" [value]="Theme.Key">
                <br>
                <label class="header">{{Theme.DisplayName |translate}} </label>
            </div>
        </div>
        }
    </div>

    <br>
    
    <h2>{{'Language' | translate}}</h2>

    <div class="languages">
        @for (Language of ThemeService.Languages; track $index){
            <img class="flag" 
            [src]="'https://flagpedia.net/data/flags/h80/'+ThemeService.Countries[$index]+'.png'" 
            (click)="ChangeLanguage(Language)">
        }
    </div>
</page-layout>