<section class="row space-between">
    <header>

        <!-- VALUE -->
        <ng-template #StatTotal>
            @if (FormatCallback){
                <label>{{FormatCallback(StatTotalValue)}}</label>
            }@else {
                @if (FormatType == 'currency'){
                    <label>{{StatTotalValue | dcurrency}}</label>
                }@else{
                    <label>{{StatTotalValue}}</label>
                }
            }
        </ng-template>

        <!-- TITLE -->
        <ng-template #StatTitle>
            @if (StatTotalValue == undefined){
                <label>{{StatName}}</label>
            }@else {
                <span>{{StatName}}</span>
            }
        </ng-template>

        @if (ChartOptions) {
            <ng-container *ngTemplateOutlet="StatTotal"></ng-container>
            <ng-container *ngTemplateOutlet="StatTitle"></ng-container>
        }@else {
            <ng-container *ngTemplateOutlet="StatTitle"></ng-container>
            <ng-container *ngTemplateOutlet="StatTotal"></ng-container>
        }
    </header>
    <div class="row viewbuttons">
        @if (ShowTimeNavigation && ViewType!='All'){
            @if (ViewType == 'Day'){
                {{DateRange[0] | date:'dd MMMM yyyy'}}
            }@if (ViewType == 'Week'){
                {{DateRange[0] | date:'dd MMM yy'}}
                -
                {{DateRange[1] | date:'dd MMM yy'}}
            }@if (ViewType == 'Month'){
                {{DateStart | date:'MMMM yyyy'}}
            }@if (ViewType == 'Year'){
                {{DateStart | date:'yyyy'}}
            }
            <button class="button transparent block" (click)="NavigateDate(-1)">
                <icon type="arrow-left"></icon>
            </button>
            <button class="button transparent block" (click)="NavigateDate(1)">
                <icon type="arrow-right"></icon>
            </button>
        }
        @if (ShowChartTimeOptions){
            @for (ButtonViewType of TimeOptions; track $index){
                <button class="button" (click)="UpdateChartView(ButtonViewType)"
                    [class.selected]="ButtonViewType == ViewType">{{ButtonViewType}}</button>
            }
        }
    </div>
</section>
<div class="content">
    @if (ChartOptions){
        @if (ChartOptions.series && ChartOptions.series[0]){
            <apx-chart #Chart [series]="ChartOptions.series" [xaxis]="ChartOptions.xaxis!" [chart]="ChartOptions.chart"
                [yaxis]="ChartOptions.yaxis || {}" [dataLabels]="ChartOptions.dataLabels || {}"
                [tooltip]="ChartOptions.tooltip || {}" [stroke]="ChartOptions.stroke || {}"
                [colors]="ChartOptions.colors || []" [title]="ChartOptions.title || {}" [grid]="ChartOptions.grid || {}"
                [legend]="ChartOptions.legend || {}" [markers]="ChartOptions.markers || {}"
                [fill]="ChartOptions.fill || {}" [labels]="ChartOptions.labels || []"
                [subtitle]="ChartOptions.subtitle || {}" [theme]="ChartOptions.theme || {}"
                [responsive]="ChartOptions.responsive || []" [plotOptions]="ChartOptions.plotOptions || {}"
                [annotations]="ChartOptions.annotations || {}">
            </apx-chart>
        }@else {
            <no-data>
                <ng-content>
                </ng-content>
            </no-data>
        }
    }@else {
        <div class="ngcontent">
            <ng-content>
            </ng-content>
        </div>
    }
</div>