<section class="row space-between">
    <header>
        
        <!-- VALUE -->
        <ng-template #StatTotal>
            @if (FormatType == 'currency'){
                <label>{{StatTotalValue | currency:'USD':'symbol':'1.0-2'}}</label>
            }@else{
                <label>{{StatTotalValue}}</label>
            }
        </ng-template>

        <!-- TITLE -->
        <ng-template #StatTitle>
            @if (StatTotalValue == undefined){
                <label>{{StatName}}</label>
            }@else {
                <span>{{StatName}}</span>
            }
        </ng-template>

        @if (ChartOptions) {
            <ng-container *ngTemplateOutlet="StatTotal"></ng-container>
            <ng-container *ngTemplateOutlet="StatTitle"></ng-container>
        }@else {
            <ng-container *ngTemplateOutlet="StatTitle"></ng-container>
            <ng-container *ngTemplateOutlet="StatTotal"></ng-container>
        }
    </header>
    @if (ShowChartTimeOptions){
        <div class="row viewbuttons">
            @for (ButtonViewType of GetObjectKeys(ChartsTimeOptions); track $index){
                <button class="button" (click)="UpdateChartView(ButtonViewType)"
                    [class.selected]="ButtonViewType == ViewType">{{ButtonViewType}}</button>
            }
        </div>
    }
</section>
<div class="content">
    @if (ChartOptions){
        @if (ChartOptions.series && ChartOptions.series[0]){
            <apx-chart #Chart [series]="ChartOptions.series" [xaxis]="ChartOptions.xaxis!" [chart]="ChartOptions.chart"
                [yaxis]="ChartOptions.yaxis || {}" [dataLabels]="ChartOptions.dataLabels || {}"
                [tooltip]="ChartOptions.tooltip || {}" [stroke]="ChartOptions.stroke || {}"
                [colors]="ChartOptions.colors || []" [title]="ChartOptions.title || {}" [grid]="ChartOptions.grid || {}"
                [legend]="ChartOptions.legend || {}" [markers]="ChartOptions.markers || {}"
                [fill]="ChartOptions.fill || {}" [labels]="ChartOptions.labels || []"
                [subtitle]="ChartOptions.subtitle || {}" [theme]="ChartOptions.theme || {}"
                [responsive]="ChartOptions.responsive || []">
            </apx-chart>
        }@else {
            <no-data>
                <ng-content>
                    
                </ng-content>
            </no-data>
        }
    }
</div>