<page-layout>
    <div class="layout" style="width: 100%;">
        <div class="collumn">
            <h1>{{'Restaurant' | translate}}</h1>
            <form nz-form [formGroup]="settingsForm" class="settings">
                <div class="row">
                    <div class="collumn">
                        <label>{{'Restaurant Name' | translate}}</label>
                        <input nz-input formControlName="RestaurantName" />
                    </div>
                    <div class="collumn">
                        <label>{{'City' | translate}}</label>
                        <input nz-input formControlName="City" />
                    </div>
                    <div class="collumn">
                        <label>{{'Address' | translate}}</label>
                        <input nz-input formControlName="Adress" />
                    </div>
                </div>
                <div class="row">
                    <div class="collumn">
                        <label>{{'Contact' | translate}}</label>
                        <input nz-input type="tel" maxlength="20" formControlName="Contact" />
                    </div>
                    <div class="collumn">
                        <label>{{'Tax ID' | translate}}</label>
                        <input nz-input style="width: 250px;" maxlength="20" formControlName="TaxID"
                            (keypress)="FormatNumb($event)" />
                    </div>
                    <div class="collumn">
                        <label>{{'Postal Code' | translate}}</label>
                        <input nz-input formControlName="PostalCode" />
                    </div>
                </div>
                <div class="separator"></div>
                <div class="row">
                    <div class="collumn">
                        <label>{{'Work Hours' | translate}}</label>
                        <nz-input-number formControlName="WorkHours" [nzMin]="1" [nzMax]="24" [nzSize]="'large'"
                            [nzDisabled]="!CanModifySettings"></nz-input-number>
                    </div>
                    <div class="collumn">
                        <label>{{'Work Hour Limit' | translate}}</label>
                        <nz-input-number formControlName="WorkHourLimit" [nzMin]="1" [nzMax]="24" [nzSize]="'large'"
                            [nzDisabled]="!CanModifySettings"></nz-input-number>
                    </div>
                    <div class="collumn">
                        <label>{{'Pay Per Hour' | translate}}</label>
                        <nz-input-number formControlName="PayPerHour" [nzMin]="0" [nzSize]="'large'"
                            [nzDisabled]="!CanModifySettings"></nz-input-number>
                    </div>
                </div>
                <div class="row">
                    <div class="collumn">
                        <label>{{'Meal Allowance' | translate}}</label>
                        <nz-input-number formControlName="MealAllowance" [nzMin]="0" [nzDisabled]="!CanModifySettings"
                            [nzSize]="'large'"></nz-input-number>
                    </div>
                    <div class="collumn">
                        <label>{{'Extra Pay' | translate}}</label>
                        <nz-input-number formControlName="ExtraPay" [nzMin]="0" [nzSize]="'large'"
                            [nzDisabled]="!CanModifySettings"></nz-input-number>
                    </div>
                    <div class="collumn">
                        <label>{{'Extra Pay Minute Rate' | translate}}</label>
                        <nz-input-number formControlName="ExtraPayMinuteRate" [nzMin]="1"
                            [nzDisabled]="!CanModifySettings" [nzSize]="'large'"></nz-input-number>
                    </div>
                </div>
                <div class="row">
                    <div class="collumn">
                        <label>{{'Currency' | translate}}</label>
                        <nz-select nzShowSearch formControlName="Currency" style="width: 100px;" nzSize="large">
                            @for (CurrencyCode of CurrencyCodes; track $index){
                                <nz-option [nzValue]="CurrencyCode.code" [nzLabel]="CurrencyCode.code"></nz-option>
                            }
                        </nz-select>
                    </div>
                </div>

                @if (CanModifySettings){
                    <button style="width: 50%;" nz-button nzType="primary" nzShape="round" [disabled]="!FieldsChanged()"
                        (click)="SaveSettings()" [nzLoading]="ModifyingSettings" class="aself-center" nzSize="large">
                        {{'Save' | translate}}
                    </button>
                }
            </form>

            <br>
        </div>

        <div class="separator vertical"></div>

        <div class="collumn">
            <h1>{{'Appearance' | translate}}</h1>

            <h2>{{'Language' | translate}}</h2>
            <div class="row">
                <!-- @let SelectedLanguageInfo = AppSettings.LanguageInfo[CurrentLanguage];
                <img class="flag" [src]="'https://flagpedia.net/data/flags/h80/'+SelectedLanguageInfo?.flag_code+'.png'"> -->

                <nz-select nzShowSearch ngModel="{{CurrentLanguage}}" (ngModelChange)="ChangeLanguage($event)"
                    style="width: 250px;" [ngModelOptions]="{standalone:true}">
                    @for (Language of AppSettings.Languages; track $index){
                        @let LanguageInfo = AppSettings.LanguageInfo[Language];
                        <nz-option nzCustomContent [nzLabel]="Language" [nzValue]="LanguageInfo.language_code">
                            <img class="flag"
                                [src]="'https://flagpedia.net/data/flags/h80/'+LanguageInfo.flag_code+'.png'">
                                {{Language}}
                    </nz-option>
                    }
                </nz-select>
            </div>
            <span class="caption"
                style="font-size: 10px;">{{'Some translations are AI generated and may not give accurate results'}}</span>
            <span class="caption"
                style="font-size: 10px;">{{'This message is not translated'}}</span>

            <br>

            <h2>{{'Theme' | translate}}</h2>
            <div class="themes-container">
                @for (Theme of Themes; track $index){
                    <div class="theme-card">
                        <div class="row vcenter">
                            <input class="radio" type="radio" (ngModelChange)="ThemeService.setTheme(Theme.Key)"
                                [(ngModel)]="ThemeService.Theme" [value]="Theme.Key">
                            <br>
                            <label class="header">{{Theme.DisplayName |translate}} </label>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</page-layout>