<div class="navbar">
    <ul nz-menu [nzTheme]="this.ThemeService.Theme()" nzMode="inline">
        <li nz-menu-item nzMatchRouter="/dashboard" routerLink="/dashboard">
            <img src="Icons/dashboard.svg" class="nav-button-icon">
            <span>{{'Dashboard' | translate}}</span>
        </li>

        <li nz-menu-item nzMatchRouter="/receipts" routerLink="/receipts">
            <img src="Icons/receipt_long.svg" class="nav-button-icon">
            <span>{{'Receipts' | translate}}</span>
        </li>

        <li nz-menu-item nzMatchRouter="/orders" routerLink="/orders">
            <img src="Icons/checkout.svg" class="nav-button-icon">
            <span>{{'Orders' | translate}}</span>
        </li>

        <li nz-menu-item nzMatchRouter="/reservations" routerLink="/reservations">
            <img src="Images/Icons/calendar.svg" class="nav-button-icon">
            <span>{{'Reservations' | translate}}</span>
        </li>


        <li nz-menu-item nzMatchRouter="/stocks" routerLink="/stocks">
            <img src="Images/Icons/stocks.svg" class="nav-button-icon">
            <span>{{'Stocks' | translate}}</span>
        </li>

        <li nz-menu-item nzMatchRouter="/analytics" routerLink="/analytics">
            <img src="Icons/chart-line.svg" class="nav-button-icon">
            <span>{{'Analytics' | translate}}</span>
        </li>


        <div class="menu-divider"></div>

        <li nz-menu-item nzMatchRouter="/menu" routerLink="/menu">
            <img src="Images/Icons/menu.svg" class="nav-button-icon">
            <span>{{'Menu' | translate}}</span>
        </li>

        <li nz-menu-item nzMatchRouter="/users" routerLink="/users">
            <img src="Images/Icons/account.svg" class="nav-button-icon">
            <span>{{'Users' | translate}}</span>
        </li>

        <li nz-menu-item nzMatchRouter="/settings" routerLink="/settings">
            <nz-icon nzType="setting" />
            <span>{{'Settings' | translate}}</span>
        </li>
    </ul>
</div>

<div class="container" #PageContainer>
    <span class="title">{{CurrentPage | translate}}</span>
    <div class="separator header"></div>
    <ng-content>

    </ng-content>
</div>