<div class="navbar">
    <ul nz-menu [nzTheme]="this.ThemeService.Theme()" nzMode="inline">
        <li nz-menu-item nzMatchRouter="/dashboard" routerLink="/dashboard">
             <icon type="dashboard" [fill]="true"></icon>
            <span>{{'Dashboard' | translate}}</span>
        </li>

        <li nz-menu-item nzMatchRouter="/orders" routerLink="/orders">
             <icon type="checkout" [fill]="true"></icon>
            <span>{{'Orders' | translate}}</span>
        </li>

        <li nz-menu-item nzMatchRouter="/reservations" routerLink="/reservations">
             <icon type="calendar"></icon>
            <span>{{'Reservations' | translate}}</span>
        </li>


        <li nz-menu-item nzMatchRouter="/stocks" routerLink="/stocks">
             <icon type="stocks" [fill]="true"></icon>
            <span>{{'Stocks' | translate}}</span>
        </li>

        <li nz-menu-item nzMatchRouter="/analytics" routerLink="/analytics">
             <icon type="chart-line"></icon>
            <span>{{'Analytics' | translate}}</span>
        </li>

        <li nz-menu-item nzMatchRouter="/receipts" routerLink="/receipts">
             <icon type="receipt_long" [fill]="true"></icon>
            <span>{{'Receipts' | translate}}</span>
        </li>


        <div class="menu-divider"></div>

        <li nz-menu-item nzMatchRouter="/menu" routerLink="/menu">
             <icon type="menu" [fill]="true"></icon>
            <span>{{'Menu' | translate}}</span>
        </li>

        <li nz-menu-item nzMatchRouter="/users" routerLink="/users">
             <icon type="account" [fill]="true"></icon>
            <span>{{'Users' | translate}}</span>
        </li>

        <li nz-menu-item nzMatchRouter="/role-management" routerLink="/role-management">
             <icon type="shield"></icon>
            <span>{{'Role Management' | translate}}</span>
        </li>

        <li nz-menu-item nzMatchRouter="/restaurant-settings" routerLink="/restaurant-settings">
             <icon type="settings" [fill]="true"></icon>
            <span>{{'Settings' | translate}}</span>
        </li>
    </ul>
</div>

<div class="container" #PageContainer>
    <span class="title">{{CurrentPage | translate}}</span>
    <div class="separator header"></div>
    <ng-content>

    </ng-content>
</div>