:host{
    width: 100%;
    height: calc(100vh - var(--topbar-size));

    display: flex;
    
    background-color: transparent;
}

.navbar{
    padding-top: 10px;
    background-color: #001529;
    width: 250px;
}

.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: start;
    justify-content: left;

    overflow-y: auto;
    overflow-x: hidden;

    background-color: transparent;
    padding: 5px;
    margin: 10px;
}

.menu-divider{
    background-color: rgba(255, 255, 255, 0.273);
    height: 0.5px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.nav-button-icon {
  width: 1.5em;
  margin-right: 5px;
  cursor: pointer;
}

.navbar-icon{
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    height: 35px;
    margin-bottom: 10px;
}