<img src="Backgrounds/Background2.jpg" class="background-image">

<div class="login-container" [class.show]="Initialized">
    <div class="image-section">
        <img src="Images/Background2.jpg" class="image-background">
    </div>


    <div class="login-section">
        <br>

        <div class="row-layout wrap center">
            <img class="login-image" src="Images/Icons/group.svg">
            <label class="title">{{'Welcome back'| translate}}</label>
        </div>

        <br>
        <nz-divider></nz-divider>
        <br>

        <form nz-form [formGroup]="LoginForm" class="login-form" (ngSubmit)="Login()">
            <nz-form-item>
                <nz-form-control>
                    <nz-input-group class="login-input" nzPrefixIcon="user">
                        <input type="text" nz-input formControlName="username" [placeholder]="'Username' | translate" />
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>


            <nz-form-item>
                <nz-form-control>
                    <nz-input-group class="login-input" nzPrefixIcon="lock">
                        <input type="password" nz-input formControlName="password"
                            [placeholder]="'Password' | translate" />
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>

            <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'" [nzLoading]="LoggingIn"
                [disabled]="LoginForm.invalid">
                {{'Log in' | translate}}
            </button>
            <!-- <a class="login-form-forgot">{{'Forgot password' | translate}}</a> -->
        </form>

        <!-- <nz-divider nzPlain [nzText]="'Or' | translate"></nz-divider>

        <div class="row-layout" style="gap: 5px;">
            <div class="login-option">
                <img src="Icons/Google.svg" class="login-option-icon">
            </div>
            <div class="login-option">
                <img src="Icons/Microsoft.svg" class="login-option-icon">
            </div>
        </div> -->
        <br>

        <nz-divider></nz-divider>

        <label class="smallcaption">{{"Don't have an account?" | translate}}</label>
        <label class="link2" routerLink='/register'>{{"SIGN UP"| translate}}</label>
    </div>
</div>