<page-layout>
    <div class="horizontal-container">
        <div class="roles">
            <loading-screen [IsLoading]="LoadingRoles" LoaderStyle="Spinner" [ShowBackground]="false"></loading-screen>
            <h2>Roles</h2>
            @for (Role of Roles; track $index){
            <div class="role" [class.selected]="SelectedRole == Role.role" (click)="ChangeRole(Role.role)">

                @if (Role.administrator){<icon type="star" [fill]="true"></icon>}
                {{Role.role}}
            </div>
            }
        </div>

        <div class="permissions">
            <loading-screen [IsLoading]="LoadingPermissions" LoaderStyle="Spinner"
                [ShowBackground]="false"></loading-screen>
            <h2>{{SelectedRole}} Permissions</h2>
            @for (CategoryInfo of CategorizedPermissions; track $index){
            <nz-divider></nz-divider>
            <h2>{{CategoryInfo.Category}}</h2>
            <div class="permissions-container">
                @for (EndpointData of CategoryInfo.Endpoints; track $index){


                <div class="permission">
                    <h3>{{EndpointData.DisplayName}}</h3>
                    <div class="divisor"></div>
                    <div class="permission-types">
                        @for (PermissionInfo of EndpointData.PermissionTypes; track $index){
                        <div class="permission-type">
                            <label class="permission-type-label" nz-tooltip [nzTooltipTitle]="PermissionInfo.Summary">
                                {{PermissionInfo.TypeLabel || PermissionInfo.PermissionType}}
                            </label>
                            <nz-switch
                                [ngModel]="PermissionInfo.PermissionLevels.includes(SelectedRole) || PermissionInfo.PermissionLevels.includes('User')"
                                [nzLoading]="PermissionInfo.Changing"
                                (ngModelChange)="PermissionSwitchTriggered(EndpointData, PermissionInfo, $event)"
                                [disabled]="!CanCreate || PermissionInfo.PermissionLevels.includes('User') && SelectedRole!='User'"
                                nz-tooltip
                                [nzTooltipTitle]="PermissionInfo.PermissionLevels.includes('User') && SelectedRole!='User' ? 'Normal users have this permission' : ''"></nz-switch>
                        </div>
                        }
                    </div>
                </div>
                }
            </div>
            }
        </div>
        <div class="users">
            <loading-screen [IsLoading]="LoadingUsers" LoaderStyle="Spinner" [ShowBackground]="false"></loading-screen>
            <h2>Users</h2>
            <div class="users-container">
                @for (User of RoleUsers; track $index){
                <user-card [UserData]="User"></user-card>
                <div class="separator" style="width: 75%; align-self: center;"></div>
                }@empty {
                @if (!LoadingUsers){
                <no-data>
                    <label>{{'There are no users with this role' | translate}}</label>
                </no-data>
                }
                }
            </div>
        </div>
    </div>
</page-layout>