<page-layout>

    
    <div class="profile-layout">
        <img class="pfp" [src]='UserPfpUrl+User()?.username' onerror="this.src='Images/Profile.png'">

        <div class="profile-collumn" style="padding-left: 5px; justify-content: space-between;">
            <h1 id="fullname" style="margin-bottom:2px;">{{User()?.username}}</h1>


            <div class="profile-row">
                <div class="profile-collumn">
                    <label>Email</label>
                    <label id="email">{{User()?.email}}</label>
                </div>

                <div class="profile-collumn">
                    <label>Phone Number</label>
                    <label id="phone">{{User()?.phone}}</label>
                </div>

                <div class="profile-collumn">
                    <label>Join Date</label>
                    <label>{{User()?.created | date: 'longDate'}}</label>
                </div>
            </div>

        </div>
    </div>
</page-layout>