<page-layout>


    <loading-screen [IsLoading]="LoadingInfo" LoaderStyle="Spinner" [ShowBackground]="true" [ShowContainer]="true"
        [Fullscreen]="false">
    </loading-screen>

    <div class="profile-page-layout">
        <div class="profile-layout">

            <div class="user-image-container">
                <img [src]="FileSelector.Files[0]?.imagebase64 || UserImagesURL+User()?.username"
                    onerror="this.src='Images/Profile.png'" class="pfp">
                <div class="overlay invisible">
                    <file-select #FileSelector [override]="true" UploadDisplayMode="none"
                        [disabled]="CurrentUser() == User()" (FilesChange)="ChangeUserImage($event)">
                        <label>{{'Edit Image' | translate}}</label>
                        <nz-icon nzType="edit"></nz-icon>
                    </file-select>
                </div>
                @if (UploadingImage){
                    <loading-screen LoaderStyle="Spinner" [IsLoading]="UploadingImage"></loading-screen>
                }
            </div>

            <div class="profile-collumn" style="padding-left: 5px; justify-content: space-between;">
                <div class="profile-collumn">
                    <div class="row wrap">
                        <label class="fullname">{{User()?.fullname}}</label>
                        <div class="row fill wrap" style="justify-content: end;">
                            @if (User()?.active){
                            <button nz-button nzType="primary">
                                <nz-icon nzType="security-scan" nzTheme="outline" />
                                Change Permissions
                            </button>

                            <button nz-button nzDanger (click)="ToggleUserStatus()" [nzLoading]="TogglingUserStatus">
                                <nz-icon nzType="user-delete" nzTheme="outline" />
                                Deactivate User
                            </button>
                            }@else {
                            <button nz-button class="row green border" (click)="ToggleUserStatus()" [nzLoading]="TogglingUserStatus">
                                <icon type="user-round-check"></icon>
                                Activate User
                            </button>
                            }
                        </div>
                    </div>
                    <label class="username">{{User()?.username}} - {{User()?.role}}</label>
                </div>


                <div class="profile-row">
                    <div class="profile-collumn">
                        <label class="info-label">{{'Email' | translate }}</label>
                        <label id="email">{{User()?.email}}</label>
                    </div>

                    <div class="profile-collumn">
                        <label class="info-label">{{'Phone Number' | translate }}</label>
                        <label id="phone">{{User()?.phone}}</label>
                    </div>

                    <div class="profile-collumn">
                        <label class="info-label">{{'Register Date' | translate }}</label>
                        <label>{{User()?.created | date: 'longDate'}}</label>
                    </div>

                    @if (User()?.adress){
                    <div class="profile-collumn">
                        <label class="info-label">Adress</label>
                        <label>{{User()?.adress}} {{User()?.city}} {{User()?.country}} {{User()?.postalcode}}</label>
                    </div>
                    }
                </div>

            </div>
        </div>

        <div class="row space-between" style="width: 100%;">
            <section class="action-card" style="min-width: 20%; max-height: 200px; min-height: 100%;">
                <attendance-view [SelectedUser]="User" [AwaitUser]="true"></attendance-view>
            </section>

            <section class="action-card" style="min-width: 30%; height: 100%;">
                <label class="title">
                    Keycard
                </label>

                <div class="collumn center vcenter fill">
                    @let CardID = User()?.card_id;
                    @if (CardID){
                    <div class="card green border flex row center">
                        <icon class="green" type="shield-check" size="35"
                            style="position: absolute; left:5px; top: 5px;"></icon>
                        <label style="position: absolute; right: 10px; bottom: 10px;">{{CardID}}</label>
                        <button nz-button nzDanger="" (click)="RemoveCard()">Disassociate</button>
                    </div>
                    }@else {
                    <icon type="no-card" size="50"></icon>
                    <label>This user has no keycard attributed</label>
                    <div class="row" (click)="CardService.PromptingCardRead = true">
                        <button class="button">
                            <icon type="credit-card" color="black"></icon>
                            New User Card
                        </button>
                        <button class="button">
                            <icon type="keytag"></icon>
                            New Key Tag
                        </button>
                    </div>
                    }
                </div>
            </section>
        </div>
    </div>



</page-layout>

@if (CardService.PromptingCardRead){
<div class="overlay" [class.invisible]="!CardService.PromptingCardRead">
    <!-- <icon type="keytag" size="200" [fill]="true" color="white"></icon> -->
    <ng-lottie [options]="CardAnimationOptions" width="300" height="300"></ng-lottie>
    <h2 style="color: var(--secondary-color);">Please pass the card or key tag over the reader</h2>
    <button nz-button (click)="CardService.PromptingCardRead=false">Cancel</button>
</div>
}