<page-layout>

    <loading-screen [IsLoading]="LoadingReceiptData"></loading-screen>
    @if (!ReceiptData){
        <!-- RECEIPTS LIST -->

        <nz-table [nzData]="Receipts" [nzShowPagination]="true" [nzLoading]="LoadingReceipts"
            [(nzPageIndex)]="ReceiptsPageIndex" (nzPageIndexChange)="LoadReceipts()" [(nzPageSize)]="ReceiptsPageSize"
            (nzPageSizeChange)="LoadReceipts()" [nzTotal]="TotalPages" [nzFrontPagination]="false" style="width: 100%;">
            <thead>
                <tr>
                    <th>{{'ID' | translate}}</th>
                    <th>{{'Date' | translate}}</th>
                    <th>{{'Total Cost' | translate}}</th>
                    <th>{{'Discount' | translate}}</th>
                    <th>{{'Status' | translate}}</th>
                    <th>{{'Created By' | translate}}</th>
                </tr>
            </thead>
            <tbody>
                @for (Receipt of Receipts; track $index) {
                    <tr (click)="ReceiptId=Receipt.order_id">
                        <td>
                            <span>{{Receipt.order_id}}</span>
                        </td>
                        <td>
                            <span>{{Receipt.created_at | ddate: 'dd-MM-yyyy HH:mm'}}</span>
                        </td>
                        <td>
                            <span>{{Receipt.total_price | dcurrency}}</span>
                        </td>
                        <td>
                            <span>{{Receipt.discount}}</span>
                        </td>
                        <td>
                            <status-tag [status]="Receipt.status">
                                {{Receipt.status | translate}}
                            </status-tag>
                        </td>
                        <td>
                            <span>{{Receipt.username}}</span>
                        </td>
                    </tr>
                }
            </tbody>
        </nz-table>
    }@else{
        <!-- DISPLAY RECEIPT INFO -->
        <div class="order-info">
            <div class="collumn" style="align-items: start; flex: 1;">

                <div class="row space-between" style="width: 100%;">
                    <h2>{{'Order' | translate}} - #{{ReceiptData.order_id}}</h2>

                    <button class="button" (click)="Receipt.Print()">
                        <icon type="receipt"></icon> {{'Print Receipt' | translate}}
                    </button>
                </div>
                <div class="row">
                    <status-tag [status]="ReceiptData.status">
                        {{ReceiptData.status | translate}}
                    </status-tag>
                </div>

                <br>

                <h2>{{'Info' | translate}}</h2>

                <div class="row">
                    <label>{{'Created by' | translate}}: </label>
                    <div class="tag">
                        <img style="width: 25px; height: 25px; margin-right: 5px;" class="pfp small"
                            [src]="UserImagesURL+ReceiptData.username" onerror="this.src='Images/Icons/account.svg'">
                        <strong>{{ReceiptData.username}}</strong>
                    </div>
                </div>

                <div class="row">
                    <label>{{'Created at' | translate}}: </label>
                    <span>{{(ReceiptData.created_at | ddate:'dd-MM-yyyy HH:mm') || '-'}}</span>
                </div>
                <div class="row">
                    <label>{{'Checked Out' | translate}}: </label>
                    <span>{{(ReceiptData.checked_out_at | ddate:'dd-MM-yyyy HH:mm') || '-'}}</span>
                </div>
                <div class="row">
                    <label>{{'TIN' | translate}}: </label>
                    <span>{{ReceiptData.TIN || '-'}}</span>
                </div>
                <div class="row">
                    <label>{{'Total' | translate}}: </label>
                    <span>{{ReceiptData.total_price && (ReceiptData.total_price | dcurrency) || '-'}}</span>
                </div>
                <div class="row">
                    <label>{{'Payment Method' | translate}}: </label>
                    <span>{{ReceiptData.payment_method || '-'}}</span>
                </div>
                <div class="row">
                    <label>{{'Discount' | translate}}: </label>
                    <span>{{(ReceiptData.discount) || '-'}}</span>
                </div>

                <br>

                <h2>{{'Products' | translate}}</h2>
                <nz-table [nzData]="ReceiptData.items" [nzShowPagination]="false" [nzBordered]="true"
                    style="width: 100%;">
                    <thead>
                        <tr>
                            <th>{{'Name' | translate}}</th>
                            <th>{{'Total' | translate}}</th>
                            <th>{{'Price/un' | translate}}</th>
                            <th>{{'Quantity' | translate}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (ReceiptItem of ReceiptData.items; track $index) {
                            <tr>
                                <td>
                                    <span>
                                        <img [src]="MenuImagesURL+ReceiptItem.name" onerror="this.src='Images/Dish.png'"
                                            style="object-fit: cover; width: 30px; height: 30px; border-radius: 100%;">
                                        {{ReceiptItem.name}}</span>
                                </td>
                                <td>
                                    <span>{{ReceiptItem.price * ReceiptItem.quantity | dcurrency}}</span>
                                </td>
                                <td>
                                    <span>{{ReceiptItem.price | dcurrency}}</span>
                                </td>
                                <td>
                                    <span>{{ReceiptItem.quantity}}</span>
                                </td>
                            </tr>
                        }
                    </tbody>
                </nz-table>
            </div>
            <div class="collumn" style="align-items: center; flex: 1;">

                <receipt #Receipt style="margin-top: 0px;" [(ReceiptData)]="ReceiptData"></receipt>
            </div>
        </div>
    }
</page-layout>