<!-- SEARCH -->
<nz-input-group style="margin-bottom:10px;" nzSearch [nzAddOnAfter]="suffixIconButton">
    <input type="text" nz-input placeholder="Search for a product" />
</nz-input-group>
<ng-template #suffixIconButton>
    <button nz-button nzType="primary" nzSearch><nz-icon nzType="search" /></button>
</ng-template>

<!-- CATEGORIES -->
<nz-radio-group nzButtonStyle="solid" [(ngModel)]="SelectedCategory">
    <label nz-radio-button nzValue="All">{{'All' | translate}}</label>
    @for (Category of MenuService.Categories ; track $index){
        <label nz-radio-button [nzValue]="Category.name">{{Category.name}}</label>
    }
</nz-radio-group>

<!-- PRODUCTS -->
<div class="products">
    <loading-screen [IsLoading]="MenuService.LoadingMenuItems"></loading-screen>
    @for (Product of GetFilteredMenuProducts(); track $index){
        <div class="product" (click)="ProductSelected.emit(Product)" [class.disabled]="Product.active == 0" 
        [style.pointer-events]="CanSelect && 'all' || 'none'">
            <img [src]="Product.ImageURL">
            <label>{{Product.name}}</label>
            <div class="overlay invisible">
                <icon type="circle-arrow-right" size="40" [strokewidth]="0.5"></icon>
            </div>
        </div>
    }
</div>