<page-layout>


    <nz-table style="width: 100%;"  nzAlign="left"
    
        [nzData]="UsersList"
        [nzLoading]="LoadingUsers" 
       

        [nzShowPagination]="true" 
        [nzTotal]="PageCount" [(nzPageSize)]="PageSize" [(nzPageIndex)]="PageNumber"
        [nzPageSizeOptions]="[10,20,50,100]" [nzShowSizeChanger]="true" [nzFrontPagination]="false"

        (nzPageIndexChange)="LoadPage()" (nzPageSizeChange)="LoadPage()">
        <thead>
            <tr>
                <th>{{'Name'| translate}}</th>
                <th>{{'Role'| translate}}</th>
                <th>{{'Email'| translate}}</th>
                <th>{{'Phone'| translate}}</th>
                <th>{{'Active'| translate}}</th>
            </tr>
        </thead>

        <tbody>
            @for (UserInfo of UsersList; track UserInfo.userid) {
                <tr style="cursor: pointer;" (click)="ViewProfile(UserInfo)">

                    <td>
                        <img class="profile-pfp" [src]="UserImagesURL+UserInfo.username"
                            onerror="this.src='Images/Profile.png'">
                        <label>{{UserInfo.fullname}}</label>
                    </td>
                    <td>{{UserInfo.role}}</td>
                    <td>{{UserInfo.email}}</td>
                    <td>{{UserInfo.phone}}</td>
                    <!-- <td>{{UserInfo.address}} {{UserInfo.city}} {{UserInfo.country}} {{UserInfo.postalcode}}</td> -->
                    <td>
                        <div class="circle" [ngStyle]="{'background-color': UserInfo.active ? 'rgb(0,180,0)' : 'rgb(220,0,0)'}"></div>
                    </td>
                </tr>
            }
        </tbody>
    </nz-table>

    <br><br>
</page-layout>