<page-layout>


    <nz-table style="width: 100%;" [nzBordered]="true" [nzShowPagination]="true" [nzData]="UsersList"
        [nzLoading]="LoadingUsers" [nzTotal]="PageCount" [(nzPageSize)]="PageSize" [(nzPageIndex)]="PageNumber"
        [nzPageSizeOptions]="[10,20,50,100]" [nzShowSizeChanger]="true" [nzFrontPagination]="false"
        (nzPageIndexChange)="LoadPage()" (nzPageSizeChange)="LoadPage()">
        <thead>
            <tr>
                <th>Name</th>
                <th>ID</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Adress</th>
                <th>Status</th>
            </tr>
        </thead>

        <tbody>
            @for (UserInfo of UsersList; track UserInfo.userid) {
            <tr style="cursor: pointer;" (click)="ViewProfile(UserInfo)">

                <td>
                    <img class="profile-pfp" [src]="UserImagesURL+UserInfo.username+'.png'"
                        onerror="this.src='Images/Profile.png'">
                    <label>{{UserInfo.username}}</label>
                </td>
                <td>{{UserInfo.userid}}</td>
                <td>{{UserInfo.email}}</td>
                <td>{{UserInfo.phone}}</td>
                <td>{{UserInfo.adress}} {{UserInfo.city}} {{UserInfo.country}} {{UserInfo.postalcode}}</td>
                <td>
                    <div class="circle" [ngStyle]="{'background-color': UserInfo.active ? 'green' : 'red'}"></div>
                </td>
            </tr>
            }
        </tbody>
    </nz-table>

    <br><br>
</page-layout>