<label class="title">
    Attendance
</label>
<cdk-virtual-scroll-viewport itemSize="90" class="collumn scroll" style="height: 100%;">
    <div *cdkVirtualFor="let Entry of UserEntries; let i = index;" [class]="'entry '+Entry.action">
        <div class="collumn fill">
            <div class="row space-between" style="gap: 0px;">
                <div class="row">
                    <icon [type]="Entry.action"></icon>
                    <label style="font-size: 16px; font-weight: 500;">{{Entry.action}}</label>

                </div>
                <div class="row">
                    @let LastEntry = UserEntries[i+1];
                        @let Length = LastEntry && LastEntry.action == 'Entry' 
                        && (Entry.timestamp.getTime()-LastEntry.timestamp.getTime()) / 1000 / 60 / 60;
                        <!-- {{Length}} -->
                        @if (Length > AppSettings.WorkHourLimit){
                        <icon style="pointer-events: all;"
                            nz-tooltip="This shift was unusually long and past work hours." type="triangle-alert"
                            [color]="'rgb(255, 150,0)'"></icon>
                    }
                    @if (!SelectedUser()){
                        @let SplitString = Entry.fullname.split(' ');
                            @let FirstName = SplitString[0];
                            @let LastName = SplitString.length > 1 ? SplitString[SplitString.length-1] : '';
                            <label class="name">{{FirstName}} {{LastName}}</label>
                    <img class="picture" [src]="UserImagesURL+Entry.username">
                    }
                </div>
            </div>
            <div class="row space-between">
                <label>{{Entry.timestamp | date:'HH:mm'}}</label>
                <label>{{Entry.timestamp | date:'dd MMMM yyyy'}}</label>
            </div>
        </div>
        @if (UserEntries.length == 0) {
            @if (!LoadingEntries){
                <no-data>This user has no entries</no-data>
            }@else {
                <loading-screen [IsLoading]="LoadingEntries" LoaderStyle="Spinner"></loading-screen>
            }
        }
    </div>