<page-layout>

    <!-- CATEGORY SELECTION -->
    <div class="row-layout">
        <nz-input-group *ngIf="InsertInputVisible; else suffixIconButton"  style="max-width: 13em; margin-left:5px"  nzSearch [nzAddOnAfter]="suffixIconButton">
            <input type="text" nz-input placeholder="Add Category" [(ngModel)]="CategoryToInsert" 
            (keydown.enter)="InsertCategory($event)" />
        </nz-input-group>

        <nz-segmented 
            [nzOptions]="CurrentCategories()" 
            (nzValueChange)="LoadMenuItems($event)"
            >
        </nz-segmented>
    </div>

    
    <ng-template #suffixIconButton>
        <button nz-button nzType="primary" nzSearch (click)="InsertCategory($event)" style="margin-right: 5px;">
            <nz-icon nzType="plus" />
        </button>
    </ng-template>


    <div class="menu-container">
        <div class="menu-items">
            @for (MenuItem of CurrentMenuList(); track MenuItem.product_id) {
                <div class="menu-item" (click)="DisplayItemInfo(MenuItem)">
                    <img 
                    [src]="ThumbnailsUrl+MenuItem.image_path"
                    onerror="this.src='Images/Dish.png'"
                    class="menu-item-image">
                    
                    <label class="menu-item-title">{{MenuItem.product}}</label>
                    <label class="menu-item-price">{{MenuItem.price | currency}}</label>
                    <div>
                        <button nz-button nzType="primary" nzShape="circle">
                            <nz-icon nzType="eye" />
                        </button>
                    </div>
                </div>
            }
            <div class="menu-item" (click)="OpenUploadModel()">
                <img src="Images/Icons/plus.svg" style="width: 50%;height: 50%; filter: brightness(50%)"/>
            </div>
        </div>
    </div>


    <!-- MENU ITEM SIDE BAR -->
    <nz-drawer #MenuItemInfo
        [nzClosable]="true"
        [nzVisible]="DrawerOpen"
        nzWidth="35em"
        nzPlacement="right"
        nzTitle="Item Info"
        (nzOnClose)="DrawerOpen = false"
        >
        <div class="menu-item-info-display" *nzDrawerContent>
            <img 
            [src]="ThumbnailsUrl+SelectedItemInfo.image_path" 
            onerror="this.src='Images/Dish.png'" class="menu-item-image"
            >
            <label class="menu-item-title">{{SelectedItemInfo.product}}</label>
            <label class="menu-item-category">{{SelectedItemInfo.category}}</label>
            <label class="menu-item-price">{{SelectedItemInfo.price | currency}}</label>
            <nz-row style="gap:10px">
                <button nz-button nzType="primary" nzShape="circle">
                    <nz-icon nzType="edit" nzTheme="fill" />
                </button>
                <button nz-button nzType="dashed" nzShape="circle">
                    <nz-icon nzType="stop" nzTheme="fill" />
                </button>
                <button nz-button nzDanger nzType="primary" nzShape="circle" (click)="DeleteItem()">
                    <nz-icon nzType="delete" nzTheme="fill" />
                </button>
            </nz-row>
            <nz-skeleton></nz-skeleton>
        </div>
    </nz-drawer>

    <!-- ITEM SUBMISSION MODAL -->
    <nz-modal
    [(nzVisible)]="InsertModalOpen" 
    [nzOkLoading]="IsInsertingItem"
    nzTitle="Create menu item" 

    (nzOnCancel)="InsertModalOpen = false" 
    nzCancelText="Cancel"

    (nzOnOk)="InsertMenuItem()"
    nzOkText="Insert"

    nzWidth = "50em"
    nzClosable = false
    nzCentered
    >
        <!-- INSERT FORM -->
        <ng-container *nzModalContent>
            <form #InsertionForm="ngForm" nz-form nzLayout="vertical" >
                <nz-form-item>
                    <nz-form-label>Item Name</nz-form-label>
                    <nz-form-control >
                        <input nz-input [(ngModel)]="InsertItemname" name="itemname"  id="itemname" placeholder="Ex: Hamburger"/>
                    </nz-form-control>
                </nz-form-item>

                
                <nz-form-item>
                    <nz-form-item style="margin-right: 20px;">
                        <nz-form-label>Category</nz-form-label>
                        <nz-form-control nzSpan="25">
                            <nz-select [(ngModel)]="InsertItemCategory" name="itemcategory"
                            nzShowSearch nzAllowClear nzPlaceHolder="Select a category">
                                @for (Category of CurrentCategories(); track Category) {
                                <nz-option [nzLabel]="Category" [nzValue]="Category"></nz-option>
                                }
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>

                <nz-form-item>
                        <nz-form-label>Price</nz-form-label>
                        <nz-form-control nzSpan="25">
                            <nz-input-group nzSuffix="$" >
                                <input [(ngModel)]="InsertItemPrice" name="itemprice"
                                 type="number" nz-input placeholder="0.00"/>
                            </nz-input-group>
                        </nz-form-control>
                    </nz-form-item>
                </nz-form-item>


                <!-- MENU THUMBNAIL UPLOADING -->
                <nz-form-item >
                    <nz-form-label>Thumbnail</nz-form-label>
                    
                    <nz-form-control nzXs >
                        <nz-upload 
                            nzName="thumbnail"
                            class="avatar-uploader"

                            [nzAction]="ThumbnailsUrl"
                            [nzShowUploadList]="false"

                            nzSize="4000"
                            nzAccept="image/*"
                            nzFileType="image"
                            nzListType="picture-card"
                            nzLimit = 1

                            (nzChange)="ChangeSelectedImage($event)"
                        >
                        @if (!SelectedThumbnailUrl) {
                            <nz-icon class="upload-icon"  [nzType]="LoadingThumbnail ? 'loading' : 'plus'" />
                            <div class="ant-upload-text">Upload</div>
                          } @else {
                            <img [src]="SelectedThumbnailUrl" style="width: 100%" />
                          }
                        </nz-upload>
                    </nz-form-control>
                </nz-form-item>
            </form>

        </ng-container>

        
    </nz-modal>

    
</page-layout>