
.topbar{
    display: flex;
    width: 100vw;
    height: var(--topbar-size);
    background-color: #000d18;
    box-shadow: 0px 3px 8px 5px rgba(0,0,0,0.5);
    z-index: 10;

    align-items: center;
    padding: 1.5em;

    &.centered{
        justify-content: center;
    }
}

.logo{
    object-fit: cover;
    height: 100%;
}