<div class="topbar" [class.centered]="currentpage=='/login'">
    <div class="section">
        <img class='logo' src="Images/RestroLink.png">
    </div>
    <div class="section right">
        @if (User()){
            <label class="user">{{User()}}</label>
            <div class="user-pfp">
                <img class="pfp-image" [src]="UserImagesURL+User()" onerror="this.src='Images/Icons/account.svg'">

            </div>
            <div class="dropdown">
                <div class="option" [routerLink]="'/profile/'+User()">
                    <icon type="account" [fill]="true"></icon>
                    Profile
                </div>
                <div class="option" (click)="Reload()">
                    <icon type="refresh-ccw" [fill]="false"></icon>
                    Refresh
                </div>
                <div class="option" (click)="Logout()">
                    <icon type="logout" [fill]="true"></icon>
                    Logout
                </div>
            </div>
        }
    </div>
</div>