@if (EditMode){
<div class="editor-settings">
    <div class="section">
        <label>{{'Snapping' | translate}}</label>
        <div class="row fill">
            <nz-input-number style="height: 80%; width: 60px; border-radius: 5px;" [nzMin]="0" [nzMax]="10" [nzStep]="0.5"
                [(ngModel)]="Snapping"></nz-input-number>
            <nz-slider style="flex: 1" [nzMin]="0" [nzMax]="10" [nzStep]="0.5" [(ngModel)]="Snapping"></nz-slider>
        </div>
    </div>

    <div class="section">
        <label>{{'Rotation Snapping' | translate}}</label>
        <div class="row fill">
            <nz-input-number style="height: 80%; width: 60px; border-radius: 5px;" [nzMin]="5" [nzMax]="90" [nzStep]="5"
                [(ngModel)]="RotationSnapping"></nz-input-number>
            <nz-slider style="flex: 1" [nzMin]="5" [nzMax]="90" [nzStep]="5" [(ngModel)]="RotationSnapping"></nz-slider>
        </div>
    </div>

    <div class="separator vertical"></div>

    <div class="action">
        <button class="button block" [disabled]="CurrentHistoryIndex == -1 || LoadingLayout" (click)="NavigateHistory(-1)">
            <icon type="undo"></icon>
        </button>
        <label>{{'Undo' | translate}}</label>
    </div>

    <div class="action">
        <button class="button block" [disabled]="CurrentHistoryIndex == History.length-1 || LoadingLayout" (click)="NavigateHistory(1)">
            <icon type="redo"></icon>
        </button>
        <label>{{'Redo' | translate}}</label>
    </div>

    <div class="separator vertical"></div>

    <div class="action">
        <button class="button block" (click)="CenterLayout()">
            <icon type="locate"></icon>
        </button>
        <label>{{'Center' | translate}}</label>
    </div>

    <div class="action">
        <button class="button block" (click)="ChangeZoom(undefined, -100)">
            <icon type="zoom-in"></icon>
        </button>
        <label>{{'Zoom In' | translate}}</label>
    </div>

    <div class="action">
        <button class="button block" (click)="ChangeZoom(undefined, 100)">
            <icon type="zoom-out"></icon>
        </button>
        <label>{{'Zoom Out' | translate}}</label>
    </div>

    <div class="action">
        <button class="button block" (click)="ToggleGrid()">
            <icon type="grid"></icon>
        </button>
        <label>{{'Grid' | translate}}</label>
    </div>

    <div class="separator vertical"></div>

    <div class="action">
        <button class="button block" (click)="ExportLayout()">
            <icon type="export"></icon>
        </button>
        <label>{{'Export' | translate}}</label>
    </div>

    <div class="action">
        <button class="button block" (click)="FileSelector.click()">
            <icon type="import"></icon>
        </button>
        <label>{{'Import' | translate}}</label>
        <input #FileSelector type="file" id="fileInput" style="display: none" accept=".dl"
            (change)="ImportLayout($event)">
    </div>

    <div class="separator vertical"></div>

    <div class="action">
        <button class="button block" (click)="ClearLayout()">
            <icon type="brush-cleaning"></icon>
        </button>
        <label>{{'Clear Layout' | translate}}</label>
    </div>

    <!-- <div class="action">
        <button class="button block">
            <icon type="circle-help"></icon>
        </button>
        <label>{{'Help' | translate}}</label>
    </div> -->
</div>
}

<div class="editor-layout">

    @if (EditMode){
    <div class="sidebar component-list">
        @for (ComponentInfo of GlobalUtils.ObjectInfo(LayoutConfigs.Components); track $index){

        @let ComponentType = ComponentInfo.Key;
        @let PseudoComponent = NewComponent(ComponentType, true);

        <div class="component-info">
            <h3>{{GlobalUtils.FormatName(ComponentInfo.Key | translate)}}</h3>
            <div [class]="'component '+ComponentInfo.Key" [style.width]="PseudoComponent.Size.X*Scaling +'px'" [class.disabled]="ProcessingComponent"
                [style.height]="PseudoComponent.Size.Y*Scaling +'px'" [style.left]="PseudoComponent.Position.X +'px'"
                [style.top]="PseudoComponent.Position.Y +'px'" [style.cursor]="'pointer'"
                (click)="AddComponent(NewComponent(ComponentType))">

                @if (LayoutConfigs.Components[ComponentType]?.Image){
                <img class="background" [src]="LayoutConfigs.Components[ComponentType]?.Image">
                }
            </div>
        </div>
        }
    </div>
    }

    <div #MainContainer class="main-container" 
    (wheel)="ChangeZoom($event)" 
    (touchstart)="onTouchStart($event)"
    (touchmove)="onTouchMove($event)"
    (touchend)="onTouchEnd($event)"
    (contextmenu)="OnContextMenu($event)">

        <loading-screen [IsLoading]="LoadingLayout"></loading-screen>


        <!-- NON-EDIT ACTIONS -->
        @if (!EditMode){
        <floating-container style="right: 0px;">
            <button class="button block" nzType="default" (click)="CenterLayout()">
                <icon type="locate"></icon>
            </button>
            @if (!SelectionMode && CanEditLayout){
                <button class="button block" nzType="default" routerLink="/layout-editor">
                    <icon type="pencil"></icon>
                </button>
            }
        </floating-container>
        }

        <!-- VIEWPORT -->
        <div class="viewport" #Viewport [style.width]="Zoom*DefaultViewportSize.X+'px'"
            [style.height]="Zoom*DefaultViewportSize.Y+'px'" [style.top]="ViewportY+'px'" [style.left]="ViewportX+'px'"
            (mousedown)="LayoutDragStart($event)">

            <!-- BACKGROUND -->
            <div class="background image" style="background-image: url('Backgrounds/Wood2.jpg');"
                [style.background-size]="100*Zoom + 'px '+100*Zoom + 'px'"></div>

            <!-- GRID -->
            @if (GridVisible && EditMode){
            <div class="background grid" [style.background-size]="Snapping*Zoom + 'px '+Snapping*Zoom + 'px'"></div>
            }


            <!-- COMPONENTS -->
            <div class="components-container">
                @for (Component of Components; track $index){
                <div [class]="'component '+Component.Type" [style.width]="Component.Size.X*Zoom +'px'"
                    [style.height]="Component.Size.Y*Zoom +'px'" [style.left]="Component.Position.X*Zoom +'px'"
                    [style.top]="Component.Position.Y*Zoom +'px'" (mousedown)="DragStart($event, Component)"
                    (mouseup)="ShowHandles(Component)" [class.selected]="SelectedComponent == Component"
                    [style.cursor]="EditMode ? 'move' : 'pointer'"
                    [style.transform]="'rotate(' + (Component.Rotation) + 'deg)'"
                >
                    @if (LayoutConfigs.Components[Component.Type]?.Image){
                    <img class="background" [src]="LayoutConfigs.Components[Component.Type]?.Image">
                    }

                    <loading-screen [IsLoading]="Component.processing" LoaderStyle="Spinner" ></loading-screen>

                    <div class="contents" [style.transform]="'rotate(' + (-Component.Rotation) + 'deg)'">
                         @if (Component.Type == 'Table' || Component.Type == 'RoundTable'){
                            <label class="table-number" [style.font-size]="4*Zoom+'px'">
                                {{'Table' | translate}} {{Component.tableid}}
                            </label>


                            @let Table = Component.tableid != null ? Tables[Component.tableid] : undefined;
                            @let TableStatus = Table && StatusDisplayNames[Table.status];

                            @if (TableStatus && !SelectionMode){
                                @if (!EditMode && Zoom>2){
                                    <label [class]="'table-status '+Table?.status" [style.font-size]="2.5*Zoom+'px'">
                                        {{TableStatus}}
                                        <br>
                                        {{Table.time | ddate:'HH:mm:ss':'UTC'}}
                                    </label>
                                }
                                @if (!EditMode && Zoom>2){
                                    <floating-container style="left: 100%; bottom: 100%; margin: 0px; transform: translate(-50%, 50%);">
                                        <div class="clock" style="width: 20px; height: 20px;">
                                            <span class="hour"></span>
                                            <span class="min"></span>
                                            <span class="circel"></span>
                                        </div>
                                    </floating-container>
                                }
                            }
                        }
                    </div>

                    @if (SelectedComponent == Component && EditMode){
                        <div class="selection-box" >
                            @for (Handle of Handles; track $index){
                            <div [class]="'dragger ' + Handle" #Handle (mousedown)="ResizeStart($event, Component, Handle)">
                            </div>
                            }
                            <div class="dragger rotate" (mousedown)="RotateStart($event, Component)">
                                <icon type="refresh-ccw" size="20px" color="rgb(0,0,0)"></icon>
                            </div>
                        </div>
                    }
                </div>
                }
            </div>
        </div>
    </div>


    @if (ShowProperties && EditMode){
    <div class="sidebar properties">
        @if (SelectedComponent){
        <h2>{{GlobalUtils.FormatName(SelectedComponent.Type | translate)}}</h2>
        <h3>{{'Properties' | translate}}</h3>

        <div>
            <h4>{{'Position'| translate}}</h4>
            <label>X: {{SelectedComponent.Position.X}}</label>
            <label> | Y: {{SelectedComponent.Position.Y}}</label>
        </div>

        <div>
            <h4>{{'Size' | translate}}</h4>
            <label>X: {{SelectedComponent.Size.X}}</label>
            <label> | Y: {{SelectedComponent.Size.Y}}</label>
        </div>

        <div>
            <h4>{{'Rotation' | translate}}</h4>
            <label>{{SelectedComponent.Rotation}}°</label>
        </div>
        }@else {
        }
    </div>
    }
</div>

@if (ContextMenuVisible){
<div class="context-menu" [style.left]="DragStartMousePosition.X+'px'" [style.top]="DragStartMousePosition.Y+'px'">
    <button class="context-menu-item" [disabled]="!SelectedComponent"
        (click)="DeleteComponent(SelectedComponent!)">{{'Delete' | translate}}</button>
    <button class="context-menu-item" [disabled]="!SelectedComponent" 
        (click)="CopySelectedComponent()">{{'Copy' | translate}}</button>
    <button class="context-menu-item" [disabled]="!SelectedComponent" 
        (click)="CutSelectedComponent()">{{'Cut' | translate}}</button>
    <button class="context-menu-item" [disabled]="!HasClipboardContent"
        (click)="PasteClipboardComponent($event)">{{'Paste' | translate}}</button>
    @if (SelectedComponent){
    <button class="context-menu-item" 
        (click)="DuplicateComponent(SelectedComponent)">{{'Duplicate' | translate}}</button>
    }
</div>
}