::ng-deep:root {
    --handle-size: 10px;
    --grid-color: rgba(0, 0, 0, 0.1);
}

:host {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    height: 100%;
}


// Sidebar
.sidebar {
    display: flex;
    flex-direction: column;
    gap: 10px;

    box-sizing: border-box;
    padding: 10px;
    background-color: var(--secondary-color);
    border-radius: 10px;
    box-shadow: 0px 0px 5px 1px color-mix(in srgb, var(--shadow-color), transparent 50%);

}

.components-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.properties {
    flex: 1;
    min-width: 20%;
}

.component-list {
    gap: 20px;

    .component {
        position: relative;
    }
}

// Layout of the component itself
.editor-layout {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    gap: 20px;
}

// Contains the layout
.main-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    border-radius: 1%;
    height: 100%;
}

// Contains the components
.viewport {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: grab;
}

// Backgrounds (Image and grid)
.background {

    display: grid;
    background-repeat: repeat;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: inherit;

    &.grid {
        background-image: linear-gradient(to right, var(--grid-color) 1px, transparent 1px),
            linear-gradient(to bottom, var(--grid-color) 1px, transparent 1px);
        border-right: 1px solid var(--grid-color);
        border-bottom: 1px solid var(--grid-color);
    }

    &.image {
        opacity: 0.8;
    }
}



// SELECTION BOX

.selection-box {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);

    top: 0px;
    left: 0px;
    position: absolute;

    z-index: 5;

    border: 1px dashed rgba(0, 0, 0);
}


.dragger {
    width: var(--handle-size);
    height: var(--handle-size);
    background-color: var(--primary-color);

    cursor: grab;
    pointer-events: all;

    border: 0.5px solid var(--secondary-color);
    border-radius: inherit;
    position: absolute;

    aspect-ratio: 1 / 1;


    &.top {
        top: calc(var(--handle-size)/-2 - 1px);
        left: calc(var(--handle-size)/-2 + 50% - 1px);
        cursor: s-resize;
    }

    &.bottom {
        top: calc(var(--handle-size)/-2 - 1px + 100%);
        left: calc(var(--handle-size)/-2 + 50% - 1px);
        cursor: s-resize;
    }

    &.left {
        top: calc(var(--handle-size)/-2 - 1px + 50%);
        left: calc(var(--handle-size)/-2 - 1px);
        cursor: e-resize;
    }

    &.right {
        top: calc(var(--handle-size)/-2 - 1px + 50%);
        left: calc(var(--handle-size)/-2 + 100%);
        cursor: e-resize;
    }

    &.top-left {
        top: calc(var(--handle-size)/-2 - 1px);
        left: calc(var(--handle-size)/-2 - 1px);
        cursor: nw-resize;
    }

    &.top-right {
        top: calc(var(--handle-size)/-2 - 1px);
        left: calc(var(--handle-size)/-2 + 100%);
        cursor: ne-resize;
    }

    &.bottom-left {
        top: calc(var(--handle-size)/-2 - 1px + 100%);
        left: calc(var(--handle-size)/-2 - 1px);
        cursor: sw-resize;
    }

    &.bottom-right {
        top: calc(var(--handle-size)/-2 - 1px + 100%);
        left: calc(var(--handle-size)/-2 + 100%);
        cursor: se-resize;
    }
}

// Context menu
.context-menu {
    display: flex;
    flex-direction: column;
    border-radius: 5px;

    position: fixed;

    background-color: rgba(25, 25, 25);
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.5);
    min-width: 150px;

    z-index: 10;
}


.editor-settings {
    display: flex;
    height: 70px;
    width: 100%;
    background-color: var(--secondary-color);
    box-shadow: 0px 0px 5px 1px color-mix(in srgb, var(--shadow-color), transparent 50%);
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 5px;
    padding-left: 15px;

    gap: 10px;

    .section {
        display: flex;
        flex-direction: column;
        width: 200px;

    }

    .action {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        button {
            height: 90%;
            border-radius: 10px;
        }

        label {
            font-size: 10px;
        }
    }
}

::ng-deep .ant-input-number-input {
    height: 100%;
}

.context-menu-item {

    display: flex;
    align-items: center;
    justify-content: start;

    width: 100%;
    height: 40px;

    padding: 10px;

    background-color: rgba(25, 25, 25);
    color: white;
    border: none;
    border-radius: inherit;

    transition: all 0.2s ease-in-out;
    cursor: pointer;

    &:hover:not(:disabled) {
        background-color: color-mix(in srgb, rgba(25, 25, 25), white 15%);
    }

    &:disabled {
        cursor: not-allowed;
        opacity: 0.5;
    }
}



// COMPONENTS


.component {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #c4c4c4;
    box-shadow: 2px -2px 7px 4px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;

    &.selected {
        box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.2);
    }

    
    align-items: center;
    justify-content: center;

    .table-number {
        font-weight: 500;
        text-align: center;
        color: black;
    }



    label{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 5px;
        max-height: 100%;
        width: 100%;
        pointer-events: none;
        z-index: 5;
    }
}



.Table {
    border-radius: 5%;

    border: 1px solid rgba(100, 100, 0, 0.1);

}

.RoundTable {
    border-radius: 105px;

    border: 1px solid rgba(100, 100, 0, 0.1);
}

.Wall {
    box-shadow: none;
    background-color: rgb(55, 55, 55);
}