


/* THEMES */
body {
  --topbar-size: 6em;
  background-color: var(--secondary-color);
  user-select: none;
}

img{
  pointer-events: none;
}

.theme-light {
  --primary-color: rgba(5, 5, 5, 0.75);
  --primary-brightness: 100%;

  --secondary-color: rgb(250, 250, 250);
  --secondary-color-2: rgb(240, 240, 240);
  --secondary-brightness: 20%;

  --shadow-color:rgba(0,0,0, 0.3);
  --navbar-color: rgb(255, 255, 255);

  .ant-menu {
    background: var(--navbar-color);
  }

  .ant-menu-submenu .ant-menu-sub {
    background: color-mix(in srgb, var(--navbar-color), black 5%);
  }
}

.theme-dark {
  --primary-color: rgba(255, 255, 255, 0.9);
  --primary-brightness: 20%;
  --secondary-color: rgb(15, 15, 15);
  --secondary-color-2: rgb(25, 25, 25);
  --secondary-brightness: 90%;

  --shadow-color:rgba(255, 255, 255, 0.2);
  --navbar-color: rgb(0, 21, 41);

//  TEXT COLORS
  label,
  h1,
  h2,
  h3,
  h4,
  .title,
  .ant-divider-inner-text,
  .ant-drawer-title,
  input,
  .ant-modal-confirm-content,
  .ant-modal-confirm-title,
  .ant-modal-title,
  .ant-select-dropdown,
  .ant-table,
  tr,
  th,
  button,
  .ant-pagination-item,
  a,
  .ant-select-selector,
  .ant-select-arrow,
  .ant-input-suffix,
  .ant-upload-text,
  p {
    color: var(--primary-color) !important;
  }


//  BACKGROUND COLORS
  .ant-input-affix-wrapper,
  .ant-input,
  .ant-drawer-content,
  .ant-modal-content,
  .ant-modal-header,
  nz-option-container,
  .ant-upload,
  .ant-pagination-item,
  .ant-select-selector, button:not(.ant-btn-primary) {
    background-color: var(--secondary-color) !important;

    .anticon {
      color: var(--primary-color);
    }
  }

  /*SMOOTHER BACKGROUND COLORS */

  .ant-select-item-option:not(.ant-select-item-option-disabled),
  .ant-table,
  .ant-table-thead,
  tr,
  .ant-table-cell-row-hover {
    color: var(--primary-color);
    background-color: color-mix(in srgb, var(--secondary-color), white 10%) !important;
  }

  th {
    background-color: color-mix(in srgb, var(--secondary-color), white 5%) !important;
  }

 /* SMOOTHER HOVER */
  .ant-select-item-option:not(.ant-select-item-option-disabled),
  tr,
  .ant-table-row {
    &:hover {
      background-color: color-mix(in srgb, var(--primary-color), transparent 50%) !important;
    }
  }


 /* SELECTED */
  .ant-segmented-item-selected {
    color: var(--secondary-color) !important;
  }

 /* HOVER PRIMARY */
  .ant-segmented-item:hover {
    color: color-mix(in srgb, var(--primary-color), transparent 20%);
  }

 /* HOVER SELECTED */
  .ant-segmented-item-selected:hover {
    color: color-mix(in srgb, var(--secondary-color), transparent 20%);
  }

 /* DIVIDER */
  .ant-divider-horizontal {
    border-top-color: rgba(255, 255, 255, 0.2)
  }

 /* Others */
  .ant-table-tbody>tr.ant-table-row:hover>td,
  .ant-table-tbody>tr>td.ant-table-cell-row-hover {
    background-color: color-mix(in srgb, var(--secondary-color), white 5%) !important;

  }
}

label {
  color: var(--primary-color);
}

app-root {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100vh;
}

label,
h1,
h2,
h3,
h4,
.title,
.ant-divider-inner-text,
div {
  transition: background-color 0.2s ease-in;
}


/* LAYOUTS AND CONTAINERS*/


.row-layout, .row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.vcenter {
  align-items: center;
}
.center {
  justify-content: center;
}

.collumn-layout, .collumn {
  display: flex;
  flex-direction: column;
}

.row-layout-left {
  display: flex;
  flex-direction: row;
  align-items: left;
}

.collumn-layout-left {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.row-layout-right {
  display: flex;
  flex-direction: row;
  align-items: right;
}

.collumn-layout-right {
  display: flex;
  flex-direction: column;
  align-items: right;
}

.button-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: var(--secondary-color);
  padding: 10px;
}

.login-container {
  display: flex;
  flex-direction: column;
  width: 40%;



  background-color: rgb(255, 255, 255);
  margin: 0 auto;

  overflow: auto;
  justify-content: center;
  align-items: center;

  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
}


.form-row {
  flex: 1;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.form-col {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 100%;
}


/* Loader */
.verification-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.verification-container {
  width: 30%;
  height: 50%;
  background-color: #14151a;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 15px;
}



caption {
  font-size: 1.5em;
  margin: 10px 0;
  font-weight: bold;
}









/* CORE ITEMS */

.table-cont {
  width: 100%;
  margin: 5px;
  padding-top: 10px;
  background-color: transparent;
  display: flex;
  padding-left: 15px;
  flex-direction: column;
  border-radius: 5px;

  overflow: auto;
}




.input-icon {
  width: 27px;
  height: 27px;
  filter: brightness(0%);
  margin-right: 5px;
}

.dark {
  filter: brightness(0%);
}

.code-input-layout {
  display: flex;
  gap: 10px;
  justify-content: center;
  height: 20%;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.code-input {

  height: 100%;
  width: 20%;
  max-width: 50px;
  font-size: 200%;

  border: none;
  border-radius: 10px;

  justify-content: center;
  align-items: center;
  text-align: center;
  padding: none;
  margin: none;
}





.separator {
  width: 90%;
  background-color: rgb(150, 150, 150, 0.5);
  margin-top: 5px;
  margin-bottom: 5px;
  height: 0.5px;
  min-height: 0.5px;
  margin-bottom: 20px;
}


.profile {
  cursor: pointer;
  height: 50px;
}




/* TEXT TYPES */
.caption {
  color: rgb(0, 0, 0, 0.5);
}

.smallcaption {
  color: rgba(49, 49, 49);
  font-size: 12px;
  font-weight: 100;
}

.background-image {
  width: 100vw;
  height: 100vh;
  position: fixed;
  object-fit: cover;
  left: 0;
  top: 0;
  z-index: -1;
}

.smallh {
  color: rgb(0, 0, 0, 0.6);
  margin-bottom: 5px;
}

.field-header {
  color: rgb(0, 0, 0, 0.8);
  margin-bottom: 5px;
}


.title {
  font-size: 35px;
  font-weight: 700;
  color: rgb(0, 0, 0);
  white-space: nowrap;
}

.header {
  font-size: 25px;
  font-weight: 500;
  white-space: nowrap;
}

.signup-header {
  font-size: 35px;
  font-weight: 700;
  margin-top: 25px;
  margin-bottom: 5px;
}



.error-text {
  text-align: left;
  margin-top: 5px;
  color: red;
  font-size: 12px;
}

.link2 {
  color: rgb(109, 152, 163);
  cursor: pointer;
}

.link2:hover {
  color: rgb(174, 239, 255);
  text-decoration: underline;
}

.link {
  color: #1b2b53;
  cursor: pointer;
}

.link:hover {
  color: #2a4381;
  text-decoration: underline;
}




/* BUTTONS */
.button1 {
  background-color: #1E233C;
  border: none;
  border-radius: 5px;
  color: white;
  height: 40px;
  width: 100px;
  transition: 0.2s;

}

.button1:hover {
  background-color: #2a4381;

}



.radio {
  appearance: none; /* Remove default style */
  width: 18px;
  height: 18px;
  border: 2px solid white;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  transition: all 0.2s;
}

.radio:checked {
  background-color: #1890ff;
  box-shadow: 0 0 7px 3px #188fffa9;
}

.radio:checked::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 8px;
  height: 8px;
  background: white;
  border-radius: 50%;
}


/* ANIMATIONS */


@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1
  }
}




input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: #ffffff;
  /*TEXT COLR */


  transition: background-color 5000s ease-in-out 0s;
  box-shadow: inset 0 0 20px 20px #23232329;
}